:javascript
  $(document).ready(function(){
    $(".editModalOpener").on("click",function(){
      $("#updateImgDisplay").attr("src",$(this).data("img-url"));
      $("#updateImgCaption").val($(this).data("caption"));
      $("#delete-image-button").data("delete-href",$(this).data("data-url"));
      $("#updateSliderImageModal").foundation("reveal","open");
    });

    $("#delete-image-button").on("click",function(){
      var url = $(this).data("delete-href");
      r = confirm("Are you sure you want to delete this picture, it cannot be undone");
      if(r){
        $.ajax({
          url: url,
          type: "DELETE",
          dataType: "json",
          success: function(){
            console.log("finished deleting");
            window.location.reload();
          }
        });
      }
    });

    $(".new-button").on("click", function(){
      $("#newSliderImageModal").foundation("reveal","open");
    });
  });
.row
  =link_to "Back", admin_path
.row
  .new-slider-image
    %span.new-button
      = fa_icon "plus"
      New Image
.row
  %ul.small-block-grid-2.medium-block-grid-5
    - @images.each do |img|
      %li
        %a.editModalOpener(href="#"){data: {img_url: img.image.url(:medium), caption: img.caption, img_id: img.id, data_url: admin_web_image_path(img) }}
          = image_tag img.image.url(:medium)

#updateSliderImageModal.reveal-modal{data: {reveal: true} }
  .text-center
    .row
      %img#updateImgDisplay
    .row
      %p
        %input#updateImgCaption
    .row
      .button
        Save
      %a.button.alert#delete-image-button
        Delete
  %a.close-reveal-modal{"aria-label" => "Close"} ×
    
#newSliderImageModal.reveal-modal{data: {reveal: true} }
  .text-center
    %h1 New Front Page Slider Image
  = render partial: "form"
  %a.close-reveal-modal{"aria-label" => "Close"} ×
    

      
