/* line 5, /home/rails/homesbyzack/app/assets/stylesheets/posts.scss */
.blog-index-title {
  height: 100px;
}
/* line 7, /home/rails/homesbyzack/app/assets/stylesheets/posts.scss */
.blog-index-title h1 {
  display: inline;
}
/* line 10, /home/rails/homesbyzack/app/assets/stylesheets/posts.scss */
.blog-index-title span {
  font-size: xx-large;
}

/* line 16, /home/rails/homesbyzack/app/assets/stylesheets/posts.scss */
.published-status i.active {
  color: green;
}
/* line 19, /home/rails/homesbyzack/app/assets/stylesheets/posts.scss */
.published-status i.inactive {
  color: red;
}
