:javascript
  $(document).ready(function(){
    $('.autoplay').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
    });
    $(".autoplay").removeClass("hide");
  });

.row
  .large-6.columns.autoplay.hide.panel.text-center.slider
    - @images.each do |web_image|
      %div
        .slider-image
          %img(src="#{web_image.image.url(:medium)}")
        %p
          %h3= web_image.caption

  .large-6.columns.mainContent
    %h2 Flipping Homes
    %p
      Offering services from project management and flipping, we can help you achieve your goals effectively, on time, and on budget. We are here for your needs, and your dreams are in reach with us at Praxis Homes. Serving North Texas since June 2015, we are hoping to break into the field and help our client's exceed their expectations in remodelling or flipping homes.

.row.praxis-definition-container
  .large-12.large-centered.text-center.columns
    %span.definition-title
      Praxis
    &ndash; practice, as distinguished from theory; application or use, as of knowledge or skills. 
