// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  //background-color: rgba(190, 232, 255, 0.11);
}
.topBar{
  background-color: rgba(241, 241, 241, 0.48);
  padding: .5em;
  border-bottom: 1px solid rgba(0,0,0,.75);
  margin-bottom:2em;
  a{
    color: black;
  }
  a:hover{
    color: #ccbc1d;
    text-decoration: underline;
  }
  a:visited{
    color:black;
  }
  .top-logo{
    height: 75px;
  } 
  h1{
    display:inline;
    line-height:75px;
    font-size: rem-calc(32);
  } 
  div{
    line-height:75px;
  }
  .smallNav{
    text-align: right;
  }
  .dropdownIcon{
    color:rgba(0,0,0,.75);
  }
}
.navSection{
  height:75px;
  line-height:75px;
  ul.nav{
    margin: 0;
    height:inherit;
    line-height:inherit;
    li.navItem{
      font-size: rem-calc(16);
      text-align:center;
      display: inline-block;
      min-width:100px;      
    }
  }
}
.slider{
  background-color: white;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
  @media(min-width: 320px){  
    height:250px;
  }

  @media(min-width: 520px){  
    height:480px;
  }

}
.mainContent{
  padding-left:3em;
  padding-right:1em;
  p{
    line-height: 2em;
  }
}
footer{
  border-top: 1px solid black;
  padding: 2em;
  text-align: center;
  background-color: rgba(241, 241, 241, 0.48);
  color:rgba(0,0,0,.75);
  img{
    height: 75px;
  }
  ul{
    margin: 0;
    li{
      display: inline;
    }
  }
  ul.nav{
    li{
      display: block;
    }
  }
}
