.new-button{
  padding: .5em;
  height: 3em;
  i{
    color: #7CB7C9;
  }
  line-height: 3em;
  vertical-align: middle;
  background-color: rgba(0,0,0,.05);
  cursor: pointer;
}
.new-button:hover{
  background-color: rgba(0,0,0,.1);
}
