// Place all the styles related to the web_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#updateImgCaption{
  margin:1em;
  margin-bottom: .5em;
  font-size:24px;
  text-align: center;
  font-color: rgba(0,0,0,.70);
}
